<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<!-- 固定在底部 -->
<div class="sandman-footer-fixed" th:fragment="fixed">
    <p>2018 &copy; <a style="cursor: pointer;">sandman.com 出品</a></p>
    <p>
        联系我  =>  手机号:17685749636
        <a href="http://sighttp.qq.com/msgrd?v=1&uin=929525390" target="_blank">QQ:929525390</a>
        <a style="cursor: pointer;" name="wechat">微信</a>
        <=  联系我
    </p>
    <p>
        免责声明:本站所有资源都是由网友分享，仅供学习和交流使用，如果侵权了您的合法权益，请发邮件至sunpeikai@yeah.net我们立即处理。
    </p>
</div>
<!-- 撑开 -->
<div class="sandman-footer-stretched" th:fragment="stretched">
    <p>2018 &copy; <a style="cursor: pointer;">sandman.com 出品</a></p>
    <p>
        联系我  =>  手机号:17685749636
        <a href="http://sighttp.qq.com/msgrd?v=1&uin=929525390" target="_blank">QQ:929525390</a>
        <a style="cursor: pointer;" name="wechat">微信</a>
          <=  联系我
    </p>
    <p>
        免责声明:本站所有资源都是由网友分享，仅供学习和交流使用，如果侵权了您的合法权益，请发邮件至sunpeikai@yeah.net我们立即处理。
    </p>
</div>
</body>
</html>

