<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>留言管理-Sandman影片分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="sandman,download,影片分享">
    <meta name="description" content="Sandman影片分享">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div th:replace="common/header :: admin"></div>
<div th:replace="admin/admin_header :: findPlz"></div>

<div class="layui-container sandman-background text-align-center">
    <div class="demoTable">
        <div class="padding-top-2p layui-form">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md2 layui-col-md-offset1">
                    <div class="layui-inline">
                        <input class="layui-input" placeholder="称呼" name="name" id="name" autocomplete="off">
                    </div>
                </div>

                <div class="layui-col-md2">
                    <div class="layui-inline">
                        <input class="layui-input" placeholder="联系方式" name="contact" id="contact" autocomplete="off">
                    </div>
                </div>

                <div class="layui-col-md2">
                    <div class="layui-input-inline">
                        <select id="status">
                            <option value="">状态</option>
                            <option value="0">未回复</option>
                            <option value="1">已回复</option>
                        </select>
                    </div>
                </div>

                <div class="layui-col-md2">
                    <button class="layui-btn" data-type="reload">搜索</button>
                </div>
            </div>

        </div>
    </div>
    <table class="layui-hide" id="table"></table>

</div>
<!--<div th:replace="common/css3::html"></div>-->
<script src="/layui/layui.js"></script>
<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/js/global.js"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#table'
            ,id:'findPlz'
            ,url:'/findPlz_manager/search'
            ,page: true
            ,limits : [10,15,20,25]
            ,limit : 10
            ,response:{
                statusName:"status"
                ,statusCode:'000'
                ,msgName:"statusDesc"
                ,countName:"totalCount"
                ,dataName:"data"
            }
            ,cols: [
                [
                    {field:'id', width:70, title: 'ID', sort: true,style:'text-align: left;'}
                    ,{field:'name', width:120, title: '称呼',style:'text-align: left;'}
                    ,{field:'contact', width:150, title: '联系方式',style:'text-align: left;'}
                    ,{field:'content', minWidth:180, title: '留言内容',style:'text-align: left;'}
                    ,{field:'qq', width:120, title: 'QQ',style:'text-align: left;'}
                    ,{field:'wechat', width:120, title: '微信',style:'text-align: left;'}
                    ,{field:'status', width:100, title: '状态',style:'text-align: left;', templet:function (data) {
                        if(data.status===0){
                            return "未回复";
                        }else if(data.status===1){
                            return "已回复";
                        }else{
                            return "预留状态";
                        }
                    }}
                    ,{field:'statusDesc', minWidth:100, title: '回复',style:'text-align: left;'}
                    ,{field:'createTime', width:180, title: '留言时间',style:'text-align: left;', sort: true, templet:function (data) {
                        return timeFormat(data.createTime);
                    }}
                    ,{fixed:'right', width:125, title: '操作',style:'text-align: left;', templet:function (data) {
                        return "<button onclick='repay(" + data.id + ")' class='layui-btn layui-btn-sm layui-btn-normal'>回复</button><a href='/findPlz_manager/delete?id=" + data.id + "' class='layui-btn layui-btn-sm layui-btn-danger'>删除</a>";
                    }}
                ]
            ]
        });
        var $ = layui.$, active = {
            reload: function(){
                var name = $('#name');
                var contact = $('#contact');
                var status = $('#status');
                //执行重载
                table.reload('findPlz', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        name: name.val(),
                        contact:contact.val(),
                        status:status.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
<script>
    function repay(id) {
        layer.confirm('<input class="layui-input" required  lay-verify="required" name="content" placeholder="请输入回复内容">',{title:'正在回复'}, function(index){
            var content = $("input[name='content']").val();
            if(content!==null && content!==undefined && content!==''){
                // 这里ajax请求
                $.ajax({
                    type: "post",
                    url: "/findPlz_manager/repay",
                    data:{"id": id,"content":content},
                    async: false,
                    success: function (data) {
                        if(data.status !== '000'){
                            // 回复失败
                            layer.msg(data.statusDesc,{icon: 5});
                            return false;
                        }else{
                            window.location.reload();
                        }
                    }
                });
            }else{
                // 这里直接提示错误
                layer.msg("输入无效",{icon: 5});
            }
            layer.close(index);
        });
    }
</script>
<script type="text/javascript">
    function timeFormat(v){
        var date = new Date(v);
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        m = m<10?'0'+m:m;
        var d = date.getDate();
        d = d<10?("0"+d):d;
        var h = date.getHours();
        h = h<10?("0"+h):h;
        var M = date.getMinutes();
        M = M<10?("0"+M):M;
        var s = date.getSeconds();
        s = s<10?("0"+s):s;
        var str = y+"-"+m+"-"+d+" "+h+":"+M + ":" + s;
        return str;
    }
</script>
</body>
</html>