<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>left-公告栏，友情链接</title>
</head>
<body>
<div th:fragment="~{'common/ad'::html}">

        <div class="sandman-panel-title">
            <i class="layui-icon"> &#xe641; </i> 广告
        </div>
        <div class="sandman-panel">
            <div class="sandman-panel-main">
                <a class="sandman-zanzhu pointer" style="background-color: #FF5722;">点击此处会加积分</a>
            </div>
        </div>
</div>
<script src="/layui/lay/modules/layer.js"></script>
<script src="/layui/lay/modules/laydate.js"></script>
<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
</body>
</html>

