<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<!-- 固定在底部 -->
<div class="sandman-footer-fixed" th:fragment="fixed">
    <p>Copyright © 2018-2019<a style="cursor: pointer;">sandman.com 出品</a></p>
    <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37021302000490" target="_blank"><img src="/images/gongan.png">鲁公网安备 37021302000490号</a><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备19007259号</a></p>
    <p>
        手机号:17685749636
        <a href="http://sighttp.qq.com/msgrd?v=1&uin=929525390" target="_blank">QQ:929525390</a>
        <a style="cursor: pointer;" name="wechat">微信</a>
    </p>
    <p>本站所有影片均为网友分享。若无意中侵犯了贵公司版权，烦请告知，我们会及时处理</p>
</div>
<!-- 撑开 -->
<div class="sandman-footer-stretched" th:fragment="stretched">
    <p>Copyright © 2018-2019<a style="cursor: pointer;">sandman.com 出品</a></p>
    <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37021302000490" target="_blank"><img src="/images/gongan.png">鲁公网安备 37021302000490号</a><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备19007259号</a></p>
    <p>
        手机号:17685749636
        <a href="http://sighttp.qq.com/msgrd?v=1&uin=929525390" target="_blank">QQ:929525390</a>
        <a style="cursor: pointer;" name="wechat">微信</a>
    </p>
    <p>本站所有影片均为网友分享。若无意中侵犯了贵公司版权，烦请告知，我们会及时处理</p>
</div>
</body>
</html>

