<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>left-公告栏，友情链接</title>
</head>
<body>
<div th:fragment="~{'common/knowledge'::html}">
    <div class="margin-top-2p"><!-- th:each="notice : ${session.noticeList}"  -->
        <div class="layui-card">
            <div class="layui-card-header"><i class="layui-icon"> &#xe705; </i>上传须知</div>
            <div class="layui-card-body">
                <div>
                    <div>
                        <span class="layui-badge-dot"></span>
                        如涉及侵权内容,您的资源将被移除
                    </div>
                    <div>
                        <span class="layui-badge-dot"></span>
                        点击上传资源即表示您确认该资源不违反资源分享的使用条款，并且您拥有该资源的所有版权或者上传资源的授权
                    </div>
                    <div>
                        <span class="layui-badge-dot"></span>
                        您上传的资源如果因版权、使用、内容完整度 等原因被举报并通过官方审核，将扣除通过该资源获得的全部积分
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

