<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>资源列表</title>
</head>
<body>
<div th:fragment="~{'common/resource_list'::html}">
    <!-- 无数据 -->
    <div class="layui-row margin-left-4p text-align-center" th:if="${count}==0">
        <span>暂无数据</span>
    </div>
    <!-- 有数据 -->
    <div id="resourceList" class="layui-tab-item layui-show" th:if="${count}>0">
        <!-- 最新上传 -->
        <div class="layui-row layui-col-space15">

            <div th:each="film :${filmList}" class="layui-col-md2">
                <div>
                    <a th:href="'/film/get_info?id=' + ${film.id}">
                        <img width="128px" height="180px" th:src="${film.filmImage}">
                        <p class="film-name" th:text="'片名：' + ${film.filmName}"></p>
                        <div class="film-type" th:text="'分类：' + ${film.filmType}"></div>
                    </a>

                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>

