<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>资源列表</title>
</head>
<body>
<div th:fragment="~{'common/resource_list'::html}">
    <!-- 无数据 -->
    <div class="layui-row margin-left-4p text-align-center" th:if="${count}==0">
        <span>暂无数据</span>
    </div>
    <!-- 有数据 -->
    <div id="resourceList" class="layui-tab-item layui-show" th:if="${count}>0">
        <!-- 最新上传 -->
        <div class="layui-row layui-col-space15">

            <div th:each="film :${filmList}" class="layui-col-md2">

                    <a th:href="'/film/get_info?id=' + ${film.id}">
                        <img width="128px" height="180px" th:src="${film.filmImage}">
                        <p class="film-name" th:text="${#filmName.filmNameFormat(film.filmName)}" th:title="${film.filmName}"></p>
                    </a>
                    <div th:each="filmType :${filmTypeList}" th:if="${filmType.id} == ${film.filmType}" class="film-type">
                        <div class="layui-row">
                            <div class="layui-col-md10" th:text="'分类：' + ${filmType.name}"></div>
                            <!--<div class="layui-col-md4 color-red" th:text="'积分:' + ${film.filmGold}"></div>-->
                        </div>
                    </div>
                </div>



        </div>
    </div>
</div>
</body>
</html>

