<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录-Sandman影片分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="sandman,download,影片分享">
    <meta name="description" content="Sandman影片分享">
    <link rel="stylesheet" media="screen" href="/css/register.css" />
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body onkeydown="keyPress(event)">
<div>
    <!-- container -->
    <div class="form-body">
        <!-- register body -->
        <div id="msform">
            <!-- fieldsets -->
            <fieldset id="one">
                <div>
                    <h2 class="fs-title">登录</h2>
                    <h3 class="fs-subtitle">欢迎使用Sandman影片分享</h3>
                    <input type="text" id="username" name="username" placeholder="用户名"/>
                    <input type="password" id="password" name="password" placeholder="密码" />
                    <input type="button" id="login" name="next" class="action-button" value="登录" />
                </div>

                <div class="layui-input-inline" style="margin-top: 2%">
                    <a href="/forget/init" class="action-button-login">忘记密码</a>
                    <a href="/register/init" class="action-button-login">立即注册</a>
                </div>
            </fieldset>
        </div>
    </div>
    <footer class="sandman-footer-register">
        <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37021302000490" target="_blank"><img src="/images/gongan.png">鲁公网安备 37021302000490号</a><a class="margin-left-15px" href="http://www.miibeian.gov.cn/" target="_blank">京ICP备19007259号</a></p>
        <p>Copyright © 2018-2019<a class="margin-left-15px" style="cursor: pointer;">sandman.com 出品</a></p>
    </footer>
</div>
<script th:inline="javascript">
    var retUrl = [[${session.retUrl}]];
</script>
<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/js/login.js" type="text/javascript"></script>
<script src="/layui/lay/modules/layer.js" type="text/javascript"></script>
</body>
</html>