<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<div th:fragment="home" class="layui-bg-black">
    <div class="layui-container">
        <!-- logo -->
        <a class="sandman-logo" href="/"><img src="/images/logo.png" alt="sandman下载"></a>
        <!-- 菜单 -->
        <ul class="layui-nav sandman-nav layui-hide-xs">
            <li class="layui-nav-item layui-this"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="/manage/complete">完善解压密码</a></li>
            <li class="layui-nav-item"><a href="/work/init">爬取</a></li>
        </ul>
    </div>
</div>

<div th:fragment="complete" class="layui-bg-black">
    <div class="layui-container">
        <!-- logo -->
        <a class="sandman-logo" href="/"><img src="/images/logo.png" alt="sandman下载"></a>
        <!-- 菜单 -->
        <ul class="layui-nav sandman-nav layui-hide-xs">
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item layui-this"><a href="/manage/complete">完善解压密码</a></li>
            <li class="layui-nav-item"><a href="/work/init">爬取</a></li>
        </ul>
    </div>
</div>

<div th:fragment="crawl" class="layui-bg-black">
    <div class="layui-container">
        <!-- logo -->
        <a class="sandman-logo" href="/"><img src="/images/logo.png" alt="sandman下载"></a>
        <!-- 菜单 -->
        <ul class="layui-nav sandman-nav layui-hide-xs">
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="/manage/complete">完善解压密码</a></li>
            <li class="layui-nav-item layui-this"><a href="/work/init">爬取</a></li>
        </ul>
    </div>
</div>
</body>
</html>

