<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>emmmoe爬取</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="emmmoe,爬取,emmmoe爬取">
    <meta name="description" content="emmmoe爬取">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <div class="layui-container" style="margin-top: 10%;">
        <!-- 搜索功能 -->
        <form action="/getPageList" method="get">
            <div class="layui-row">
                <div class="layui-col-md1">
                    <label class="layui-form-label" style="text-align: center;">emmmoe：</label>
                </div>
                <div class="layui-col-md9">
                    <input type="text" id="emmmoe" name="emmmoe" th:value="${emmmoe}" placeholder="请输入emmmoe站点现在的根目录" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-col-md1" style="padding-left: 4%;">
                    <button type="submit" class="layui-btn layui-btn-radius layui-btn-normal"><i class="layui-icon">    &#xe615;  </i>搜 索      </button>
                </div>
            </div>

        </form>
    </div>


    <script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/layui/layui.js"></script>
    <script src="/layui/lay/modules/layer.js" type="text/javascript"></script>
    <script>
        layui.config({
            version: "3.0.0"
            , base: '/js/' //这里实际使用时，建议改成绝对路径
        }).extend({
            fly: 'index'
        }).use('fly');
    </script>
    <script th:inline="javascript">
        var count = [[${count}]];
        if(count !== null && count !== undefined && count !== ''){
            layer.msg("一共找到了" + count + "个链接",{icon: 6});
        }
    </script>
</body>
</html>