<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页-sandman资源共享平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="sandman,download,资源共享">
    <meta name="description" content="sandman资源共享平台">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div th:replace="common/header::html"></div>

<div class="layui-row sandman-content">

    <div class="layui-col-md1 layui-col-md-offset1">
        <!-- 左边内容(公告，友情链接等) -->
        <div th:replace="common/notice::html"></div>
    </div>

    <div class="layui-col-md8" style="padding-left: 4%;padding-right: 4%;">
        <!-- 中间内容 -->
        <div>
            <!-- 搜索功能 -->
            <form action="#" method="get">

                <div class="layui-row">
                    <div class="layui-col-md1">
                        <label class="layui-form-label" style="text-align: center;">关键词：</label>
                    </div>
                    <div class="layui-col-md9">
                        <input type="text" name="search" required lay-verify="required" placeholder="请输入您要搜索的内容" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-col-md1" style="padding-left: 4%;">
                        <button type="submit" class="layui-btn layui-btn-radius layui-btn-normal"><i class="layui-icon">    &#xe615;  </i>搜 索      </button>
                    </div>
                </div>

            </form>
        </div>
        <!-- 搜索功能结束 -->

        <div class="margin-top-2p">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this">最新上传</li>
                    <li>最多下载</li>
                </ul>
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-tab-item layui-show">
                        <!-- 最新上传 -->
                        <div class="row" style="margin-top: 1%;padding: 0px 2%;">
                            <!-- 资源类型的图标 -->
                            <div class="layui-col-md1">
                                <img src="/images/zip.svg">
                            </div>
                            <div class="layui-col-md11">
                                <div>
                                    <!-- 资源标题 -->
                                    最新上传-资源标题
                                </div>
                                <div>
                                    <!-- 资源描述 -->
                                    最新上传-资源描述
                                </div>
                                <div>
                                    <!-- 资源信息 -->
                                    最新上传-资源信息
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <!-- 最多下载 -->
                        <div class="row">
                            <!-- 资源类型的图标 -->
                            <div class="layui-col-md1">
                                最多下载-zip
                            </div>
                            <div class="layui-col-md11">
                                <div>
                                    <!-- 资源标题 -->
                                    最多下载-资源标题
                                </div>
                                <div>
                                    <!-- 资源描述 -->
                                    最多下载-资源描述
                                </div>
                                <div>
                                    <!-- 资源信息 -->
                                    最多下载-资源信息
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" id="page"></div>
            </div>
        </div>
    </div>

    <div class="layui-col-md2">
        <!-- 右边内容(签到，热门资源列表) -->
        <div th:replace="common/notice::html"></div>
    </div>


</div>


<div th:replace="common/footer::html"></div>

<!--<div th:replace="common/css3::html"></div>-->
<script src="/layui/layui.js"></script>
<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script>
    layui.config({
        version: "3.0.0"
        ,base: '/js/' //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
<script>
    var resources;
    layui.use('laypage', function(){
        var laypage = layui.laypage;

        ajax(0,20);

        //执行一个laypage实例
        laypage.render({
            elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
            count: 5000, //数据总数，从服务端得到
            curr: 1,
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            limit: 20,
            limits: [10, 20, 30, 40, 50],
            jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                console.info(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.info(obj.limit); //得到每页显示的条数
                ajax(obj.curr,obj.limit);
        }
        });
    });
    function ajax(currPage,limit) {
        console.info(currPage + ":::" + limit);
        $.ajax({
            type: "post",
            url: "/resource/getResource",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "currPage": currPage,
                "pageSize": limit
            }),
            async: false,
            success: function (data) {
                console.info(data);
            }
        });
    }
</script>
</body>
</html>