<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页-sandman资源共享平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="sandman,download,资源共享">
    <meta name="description" content="sandman资源共享平台">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div th:replace="common/header::html"></div>

<div class="layui-row sandman-content">

    <div class="layui-col-md1 layui-col-md-offset1">
        <!-- 左边内容(公告，友情链接等) -->
        <div th:replace="common/notice::html"></div>
    </div>

    <div class="layui-col-md8" style="padding-left: 4%;padding-right: 4%;">
        <!-- 中间内容 -->
        <div>
            <!-- 搜索功能 -->
            <div>
                <div class="layui-row">
                    <div class="layui-col-md1">
                        <label class="layui-form-label" style="text-align: center;">关键词：</label>
                    </div>
                    <div class="layui-col-md9">
                        <input type="text" id="search" name="search" required lay-verify="required" placeholder="请输入您要搜索的内容" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-col-md1" style="padding-left: 4%;">
                        <button id="searchBtn" type="button" class="layui-btn layui-btn-radius layui-btn-normal"><i class="layui-icon">    &#xe615;  </i>搜 索      </button>
                    </div>
                </div>
            </div>
            <!-- 搜索功能结束 -->
        </div>

        <div class="margin-top-2p">
            <div class="layui-tab layui-tab-card" lay-filter="res">
                <ul class="layui-tab-title">
                    <li lay-id="1" class="layui-this">最新上传</li>
                    <li lay-id="2">最多下载</li>
                </ul>
                <div class="layui-tab-content"><!--  style="height: 100px;" -->
                    <div id="newResources" class="layui-tab-item layui-show">

                        <!-- 最新上传 -->
                        <div th:each="resource :${newResources}" class="row">
                            <div class="margin-0-2p">
                                <!-- 资源类型的图标 -->
                                <div class="layui-col-md1">
                                    <img src="/images/zip.svg">
                                </div>
                                <div class="layui-col-md11">
                                    <div class="res-title">
                                        <!-- 资源标题 -->
                                        <h2 th:text="${resource.resourceName}"></h2>
                                    </div>
                                    <div class="res-content">
                                        <!-- 资源描述 -->
                                        <h6 th:text="${resource.resourceDesc}"></h6>
                                    </div>
                                    <div class="layui-row res-info">
                                        <!-- 资源信息 -->
                                        <div class="layui-col-md2">上传者 : <span th:text="${resource.username}"></span></div>
                                        <div class="layui-col-md3">上传时间 : <span th:text="${#dates.format(resource.createTime,'yyyy-MM-dd')}"></span></div>
                                        <div class="layui-col-md2">资源大小 : <span th:text="${#size.fileSizeFormat(resource.resourceSize)}"></span></div>
                                        <div class="layui-col-md2">下载次数 : <span th:text="${resource.downloadCount}"></span></div>
                                        <div class="layui-col-md1">积分 : <span th:text="${resource.resourceGold}"></span></div>
                                    </div>
                                </div>

                            </div>
                            <div><hr class="layui-bg-gray"></div>
                        </div>
                    </div>
                    <div id="hotResources" class="layui-tab-item">
                        <!-- 最多下载 -->
                        <div th:each="resource :${hotResources}" class="row">
                            <div class="margin-0-2p">
                                <!-- 资源类型的图标 -->
                                <div class="layui-col-md1">
                                    <img src="/images/zip.svg">
                                </div>
                                <div class="layui-col-md11">
                                    <div class="res-title">
                                        <!-- 资源标题 -->
                                        <h2 th:text="${resource.resourceName}"></h2>
                                    </div>
                                    <div class="res-content">
                                        <!-- 资源描述 -->
                                        <h6 th:text="${resource.resourceDesc}"></h6>
                                    </div>
                                    <div class="layui-row res-info">
                                        <!-- 资源信息 -->
                                        <div class="layui-col-md2">上传者 : <span th:text="${resource.username}"></span></div>
                                        <div class="layui-col-md3">上传时间 : <span th:text="${#dates.format(resource.createTime,'yyyy-MM-dd')}"></span></div>
                                        <div class="layui-col-md2">资源大小 : <span th:text="${#size.fileSizeFormat(resource.resourceSize)}"></span></div>
                                        <div class="layui-col-md2">下载次数 : <span th:text="${resource.downloadCount}"></span></div>
                                        <div class="layui-col-md1">积分 : <span class="res-gold" th:text="${resource.resourceGold}"></span></div>
                                    </div>
                                </div>

                            </div>
                            <div><hr class="layui-bg-gray"></div>
                        </div>
                    </div>
                </div>
                <div align="center" id="page"></div>
            </div>
        </div>
    </div>

    <div class="layui-col-md1">
        <!-- 右边内容(签到，热门资源列表) -->
        <div th:replace="common/notice::html"></div>
    </div>


</div>


<div th:replace="common/footer::html"></div>

<!--<div th:replace="common/css3::html"></div>-->
<script src="/layui/layui.js"></script>
<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script>
    layui.config({
        version: "3.0.0"
        ,base: '/js/' //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
<script th:inline="javascript">
    var newCount = [[${newCount}]];
    var hotCount = [[${hotCount}]];
    var nowTab = newCount;
    var new_curr = 1;
    var hot_curr = 1;
    var curr_tab = '1';
</script>
<script>
    layui.use('element', function(){
        var element = layui.element;
        var laypage = layui.laypage;
        //获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
        var layid = location.hash.replace(/^#res=/, '');
        element.tabChange('res', layid); //假设当前地址为：http://a.com#test1=222，那么选项卡会自动切换到“发送消息”这一项

        //监听Tab切换，以改变地址hash值
        element.on('tab(res)', function(){
            var id = this.getAttribute('lay-id');
            if(id !== curr_tab){
                curr_tab = id;
                if(id === '1'){
                    console.info("切换到了最新上传");
                    nowTab = newCount;
                    laypage = layui.laypage;

                    //执行一个laypage实例
                    laypage.render({
                        elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
                        count: nowTab, //数据总数，从服务端得到
                        curr: new_curr,
                        layout: ['count', 'prev', 'page', 'next', 'skip'],
                        jump: function(obj, first){
                            new_curr = obj.curr;
                            //首次不执行,其他的执行
                            if(!first){
                                getResources(obj,2,$("#search").val());
                            }
                        }
                    });
                }else{
                    console.info("切换到了最多下载");
                    nowTab = hotCount;
                    laypage = layui.laypage;

                    //执行一个laypage实例
                    laypage.render({
                        elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
                        count: nowTab, //数据总数，从服务端得到
                        curr: hot_curr,
                        layout: ['count', 'prev', 'page', 'next', 'skip'],
                        jump: function(obj, first){
                            hot_curr = obj.curr;
                            //首次不执行,其他的执行
                            if(!first){
                                getResources(obj,1,$("#search").val());
                            }
                        }
                    });
                }
            }


        });
    });
</script>
<script>
    layui.use('laypage', function(){
        var laypage = layui.laypage;
        //执行一个laypage实例
        laypage.render({
            elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
            count: nowTab, //数据总数，从服务端得到
            curr: new_curr,
            layout: ['count', 'prev', 'page', 'next', 'skip'],
            jump: function(obj, first){
                new_curr = obj.curr;
                //首次不执行,其他的执行
                if(!first){
                    getResources(obj,2,$("#search").val());
                }
            }
        });
    });
    function getResources(obj,type,search) {
        $.ajax({
            type: "post",
            url: "/resource/getResource",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "currPage": obj.curr,
                "pageSize": obj.limit,
                "search": search,
                "type": type
            }),
            async: false,
            success: function (data) {
                console.info(data);
                setResources(data,type);
            }
        });
    }
    function setResources(data,type) {
        if(type === 1){
            // 最多下载
            $("#hotResources").html("最多下载" + data);

        }else{
            // 最新上传
            $("#newResources").html("最新上传" + data);
        }
    }
</script>
</body>
</html>