<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>登录-sandman资源共享平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="sandman,download,资源共享">
    <meta name="description" content="sandman资源共享平台">
    <link rel="stylesheet" media="screen" href="/css/register.css" />
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>
<div>
    <!-- container -->
    <div class="form-body">
        <!-- register body -->
        <div id="msform">
            <!-- fieldsets -->
            <fieldset id="one">
                <div>
                    <h2 class="fs-title">登录</h2>
                    <h3 class="fs-subtitle">欢迎使用sandman资源共享平台</h3>
                    <input type="text" id="username" name="username" placeholder="用户名"/>
                    <input type="password" id="password" name="password" placeholder="密码" />
                    <input type="button" id="login" name="next" class="action-button" value="登录" />
                </div>

                <div class="layui-input-inline" style="margin-top: 2%">
                    <a href="/forget/init" class="action-button-login">忘记密码</a>
                    <a href="/register/init" class="action-button-login">立即注册</a>
                </div>
            </fieldset>
        </div>
    </div>
    <footer class="sandman-footer-register">
        ©2018 Sandman
        <p>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000001" target="_blank"><i></i>京公网安备11000002000001号</a>
            京ICP备13050958号
        </p>
    </footer>
</div>
<script th:inline="javascript">
    var retUrl = [[${session.retUrl}]];
    //console.info("retUrl=" + retUrl);
</script>
<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/js/login.js" type="text/javascript"></script>
<script src="/layui/lay/modules/layer.js" type="text/javascript"></script>
</body>
</html>