<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>我的下载-sandman资源共享平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="sandman,download,资源共享">
    <meta name="description" content="sandman资源共享平台">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div th:replace="common/header :: download"></div>

<div class="layui-row sandman-content">

    <div class="layui-col-md2 margin-left-2p">
        <!-- 左边内容(公告，友情链接等) -->
        <div th:replace="common/notice::html"></div>
        <div th:replace="common/friendly_link::html"></div>
    </div>

    <div class="layui-col-md7 padding-left-4p">
        <!-- 中间内容 -->

        <div class="layui-form">
            <!-- 搜索功能 -->
            <form action="/my_download/init" method="get">

                <div class="layui-row">
                    <div class="layui-col-md1">
                        <label class="layui-form-label" style="text-align: center;">资源名称：</label>
                    </div>
                    <div class="layui-col-md9">
                        <input type="text" id="resourceName" name="resourceName" th:value="${resourceName}" placeholder="请输入资源名称" autocomplete="off" class="layui-input">
                    </div>
                    <input type="hidden" name="currPage" th:value="${currPage}">
                    <div class="layui-col-md1" style="padding-left: 4%;">
                        <button type="submit" class="layui-btn layui-btn-radius layui-btn-normal"><i class="layui-icon">    &#xe615;  </i>搜 索      </button>
                    </div>
                </div>

            </form>
        </div>

        <div class="margin-top-2p">
            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon"> &#xe62a; </i>资源列表</div>
                <div class="layui-card-body">

                    <!-- 无数据 -->
                    <div class="layui-row margin-left-4p text-align-center" th:if="not ${myDownload}">
                        <span>暂无数据</span>
                    </div>
                    <!-- 有数据 -->
                    <div id="resourceList" class="layui-tab-item layui-show" th:if="${myDownload}">

                        <!-- 最新上传 -->
                        <div th:each="myDownload :${myDownload}" class="row">
                            <div class="margin-0-2p">
                                <!-- 资源类型的图标 -->
                                <a th:href="'/resource/get_info?id=' + ${myDownload.resource.id}" target="_blank">
                                    <div class="layui-col-md1">
                                        <div th:switch="${myDownload.resource.resourceType}">
                                            <img th:case="'doc'" src="/images/file/doc.svg">
                                            <img th:case="'docx'" src="/images/file/docx.svg">
                                            <img th:case="'exe'" src="/images/file/exe.svg">
                                            <img th:case="'jpg'" src="/images/file/jpg.svg">
                                            <img th:case="'pdf'" src="/images/file/pdf.svg">
                                            <img th:case="'png'" src="/images/file/png.svg">
                                            <img th:case="'ppt'" src="/images/file/ppt.svg">
                                            <img th:case="'rar'" src="/images/file/rar.svg">
                                            <img th:case="'txt'" src="/images/file/txt.svg">
                                            <img th:case="'zip'" src="/images/file/zip.svg">
                                            <img th:case="*" src="/images/file/unknown.svg">
                                        </div>
                                    </div>
                                </a>
                                <div class="layui-col-md7">
                                    <div class="res-title">
                                        <!-- 资源标题 -->
                                        <a th:href="'/resource/get_info?id=' + ${myDownload.resource.id}" target="_blank"><h2 th:text="${myDownload.resource.resourceName}"></h2></a>

                                    </div>
                                    <div class="res-content">
                                        <!-- 资源描述 -->
                                        <h6 th:text="${myDownload.resource.resourceDesc}"></h6>
                                    </div>
                                    <div class="layui-row res-info">
                                        <!-- 资源信息 -->
                                        <div class="layui-col-md4">下载时间 : <span th:text="${#dates.format(myDownload.createTime,'yyyy-MM-dd')}"></span></div>
                                        <div class="layui-col-md3 layui-col-md-offset1">资源大小 : <span th:text="${#size.fileSizeFormat(myDownload.resource.resourceSize)}"></span></div>
                                        <div class="layui-col-md2 layui-col-md-offset1">积分 : <span th:text="${myDownload.resource.resourceGold}"></span></div>
                                    </div>
                                </div>
                                <div class="layui-col-md2 layui-col-md-offset2 margin-top-2p">
                                    <input type="button" class="layui-btn layui-btn-radius" th:onclick="'checkInfo(' + ${myDownload.resource.id} + ',' + ${myDownload.id} + ')'" value="重新下载">
                                </div>

                            </div>
                            <div>
                                <hr class="layui-bg-gray">
                            </div>
                        </div>
                    </div>

                    <div align="center" id="page"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-md2 margin-right-2p float-right">
        <!-- 右边内容(签到，热门资源列表) -->
        <div th:replace="common/resource_hot::html"></div>
    </div>


</div>

<!-- >7 -->
<div th:if="${count} gt 7">
    <div th:replace="common/footer::stretched"></div>
</div>
<!-- <=7 -->
<div th:if="${count} le 7">
    <div th:replace="common/footer::fixed"></div>
</div>

<!--<div th:replace="common/css3::html"></div>-->
<script src="/layui/layui.js"></script>
<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/js/footer.js"></script>
<script src="/js/global.js"></script>
<script th:inline="javascript">
    var count = [[${count}]];
    var currPage = [[${currPage}]];
    var search = [[${search}]];
    if(search !== null && search !== undefined && search !== ''){
        var searchInput = $("input[name='resourceName']");
        searchInput.val(search);
    }
    var errorMsg = [[${errorMsg}]];
    if(errorMsg !== null && errorMsg !== undefined && errorMsg !== ''){
        layer.msg(errorMsg,{icon: 5});
    }
    currPage = (currPage == null || currPage == undefined || currPage == 0) ? 1 : currPage;
</script>
<script>
    layui.use('laypage', function () {
        var laypage = layui.laypage;
        //执行一个laypage实例
        laypage.render({
            elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
            count: count, //数据总数，从服务端得到
            curr: currPage,
            layout: ['count', 'prev', 'page', 'next', 'skip'],
            jump: function (obj, first) {
                var resourceName = $("input[name='resourceName']").val();
                var status = $("select[name='status'] option:selected").val();
                //首次不执行,其他的执行
                if (!first) {
                    location.href = "/my_download/init?resourceName=" + resourceName + "&currPage=" + obj.curr;
                }
            }
        });
    });
</script>
<script>
    function checkInfo(resourceId,resourceLogId) {
        $.ajax({
            type: "post",
            url: "/my_download/check_redownload",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "resourceId": resourceId,
                "resourceLogId": resourceLogId
            }),
            async: false,
            success: function (data) {
                if(data.status !== '000'){
                    layer.msg(data.statusDesc,{icon: 5});
                    return false;
                }else{
                    // 成功
                    location.href = "/my_download/redownload?resourceId=" + resourceId;
                    return true;
                }
            }
        });
        return false;
    }
</script>
</body>
</html>