<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>资源详情-sandman资源共享平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="sandman,download,资源共享">
    <meta name="description" content="sandman资源共享平台">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div th:replace="common/header :: home"></div>

<div class="layui-row sandman-content">

    <div class="layui-col-md2 margin-left-2p">
        <!-- 左边内容(公告，友情链接等) -->
        <div th:replace="common/notice::html"></div>
        <div th:replace="common/knowledge::html"></div>
        <div th:replace="common/friendly_link::html"></div>
    </div>

    <div class="layui-col-md7 padding-left-4p">
        <!-- 中间内容 -->

        <div class="layui-row">
            <!-- 资源详情 -->
            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon">    &#xe63c;  </i>资源信息</div>
                <div class="layui-card-body">
                    <div class="layui-row margin-left-4p">
                        <!--  -->
                        <div class="layui-row">
                            <!-- 图标 -->
                            <div class="layui-col-md1">
                                <div th:replace="common/resource_icon :: resource_icon"></div>
                            </div>
                            <div>
                                <div class="res-title">
                                    <!-- 资源标题 -->
                                    <h2 th:text="${resource.resourceName}"></h2>
                                </div>
                                <div class="res-content">
                                    <!-- 资源描述 -->
                                    <h6 th:text="${resource.resourceDesc}"></h6>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row res-info">
                            <div class="layui-col-md7 layui-col-md-offset5">
                                <div class="layui-col-md4">上传时间 : <span th:text="${#dates.format(resource.createTime,'yyyy-MM-dd')}"></span></div>
                                <div class="layui-col-md3">资源大小 : <span th:text="${#size.fileSizeFormat(resource.resourceSize)}"></span></div>
                                <div class="layui-col-md3">下载次数 ：<span th:text="${resource.downloadCount}"> 次</span></div>
                                <div class="layui-col-md2">所需 : <span th:text="${resource.resourceGold}"></span> 积分</div>
                            </div>
                        </div>

                        <div class="layui-row margin-top-2p">
                            <div class="layui-col-md1 layui-col-md-offset9">
                                <button class="layui-btn layui-btn-radius" th:onclick="'return checkInfo(' + ${resource.id} + ',1)'">立即下载</button>
                            </div>
                            <div class="layui-col-md1 margin-left-2p">
                                <button th:onclick="'return checkInfo(' + ${resource.id} + ',2)'" class="layui-btn layui-btn-danger layui-btn-radius"><i class="layui-icon">&#xe735;</i>VIP下载</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="layui-col-md2 margin-right-2p float-right">
        <!-- 右边内容(签到，热门资源列表) -->
        <div th:replace="common/sign_in::html"></div>
        <div th:replace="common/resource_hot::html"></div>
    </div>


</div>


<div th:replace="common/footer::fixed"></div>

<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/layui/layui.js"></script>
<script src="/js/footer.js"></script>
<script src="/js/global.js"></script>
<script th:inline="javascript">
    var errorMsg = [[${errorMsg}]];
    if(errorMsg !== null && errorMsg !== undefined && errorMsg !== ''){
        layer.msg(errorMsg,{icon: 5});
    }
</script>
<script>
    function checkInfo(id,type) {
        // type -> 1:普通下载,2:VIP下载
        $.ajax({
            type: "post",
            url: "/download/check_info",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "id": id,
                "type": type
            }),
            async: false,
            success: function (data) {
                if(data.status !== '000'){
                    layer.msg(data.statusDesc,{icon: 5});
                    return false;
                }else{
                    // 成功
                    location.href = "/download/download?id=" + id;
                    return true;
                }
            }
        });
        return false;
    }
</script>
</body>
</html>