<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页-sandman资源共享平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="sandman,download,资源共享">
    <meta name="description" content="sandman资源共享平台">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div th:replace="common/header :: upload"></div>

<div class="layui-row sandman-content">

    <div class="layui-col-md1 layui-col-md-offset1">
        <!-- 左边内容(公告，友情链接等) -->
        <div th:replace="common/notice::html"></div>
    </div>

    <div class="layui-col-md8" style="padding-left: 4%;padding-right: 4%;">
        <!-- 中间内容 -->

        <div class="layui-row">
            <!-- form表单 -->
            <div class="layui-col-md9">

                <div class="layui-card">
                    <div class="layui-card-header">上传资源</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="" method="post">

                            <div class="layui-form-item margin-left-4p">
                                <div class="layui-upload-drag" id="file">
                                    <i class="layui-icon"></i>
                                    <p>点击上传，或将文件拖拽到此处</p>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">资源名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="resourceName" required lay-verify="required"
                                           placeholder="请输入资源名称" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">资源积分</label>
                                <div class="layui-input-block">
                                    <select name="resourceGold" lay-verify="required">
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">资源描述</label>
                                <div class="layui-input-block">
                                    <textarea name="resourceDesc" placeholder="请输入资源描述" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">发布</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <!-- 上传须知 -->
            <div class="layui-col-md2 layui-col-md-offset1">
                <div class="layui-card">
                    <div class="layui-card-header">上传须知</div>
                    <div class="layui-card-body">
                        <div>
                            <div>
                                <span class="layui-badge-dot layui-bg-black"></span>
                                如涉及侵权内容,您的资源将被移除
                            </div>
                            <div>
                                <span class="layui-badge-dot layui-bg-black"></span>
                                请勿在未经授权的情况下上传任何涉及著作权侵权的资源，除非该资源完全由您个人创作
                            </div>
                            <div>
                                <span class="layui-badge-dot layui-bg-black"></span>
                                点击上传资源即表示您确认该资源不违反资源分享的使用条款，并且您拥有该资源的所有版权或者上传资源的授权
                            </div>
                            <div>
                                <span class="layui-badge-dot layui-bg-black"></span>
                                您上传的资源如果因版权、使用、内容完整度 等原因被举报并通过官方审核，将扣除通过该资源获得的全部积分
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-md1">
        <!-- 右边内容(签到，热门资源列表) -->
        <div th:replace="common/notice::html"></div>
    </div>


</div>


<div th:replace="common/footer::html"></div>

<!--<div th:replace="common/css3::html"></div>-->
<script src="/layui/layui.js"></script>
<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script>
    layui.config({
        version: "3.0.0"
        , base: '/js/' //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
<script th:inline="javascript">
    var count = [[${count}]];
    var currPage = [[${currPage}]];
    currPage = (currPage == null || currPage == undefined || currPage == 0) ? 1 : currPage;
</script>
<script>
    layui.use('upload', function () {
        var upload = layui.upload;
        //执行一个upload实例
        upload.render({
            elem: '#file'
            ,url: '/upload/uploadFile'
            ,accept: 'file' //普通文件
            ,size: 220000 //限制文件大小，单位 KB
            ,done: function(res){
                console.log(res)
            }
        });
    });
</script>
</body>
</html>