<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>上传-sandman资源共享平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content="sandman,download,资源共享">
    <meta name="description" content="sandman资源共享平台">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div th:replace="common/header :: upload"></div>

<div class="layui-row sandman-content">

    <div class="layui-col-md2 margin-left-2p">
        <!-- 左边内容(公告，友情链接等) -->
        <div th:replace="common/notice::html"></div>
        <div th:replace="common/knowledge::html"></div>
        <div th:replace="common/friendly_link::html"></div>
    </div>

    <div class="layui-col-md7 padding-left-4p">
        <!-- 中间内容 -->

        <div class="layui-row layui-col-space15">
            <!-- form表单 -->

            <div class="layui-card">
                <div class="layui-card-header"><i class="layui-icon">    &#xe681;  </i>上传资源</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="/upload/upload_resource" method="post">

                        <input type="hidden" th:value="${resourceUrl}" id="resourceUrl" name="resourceUrl">

                        <div class="layui-form-item margin-4p">
                            <div class="layui-form-item sandman-upload-file" id="file">
                                <i class="layui-icon"></i>
                                <p>点击上传，或将文件拖拽到此处</p>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">资源名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="resourceName" th:value="${resourceName}" required lay-verify="required"
                                       placeholder="请输入资源名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">资源积分</label>
                            <div class="layui-input-block">
                                <div th:replace="common/resource_gold_select::resourceGold"></div>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">资源描述</label>
                            <div class="layui-input-block">
                                <textarea name="resourceDesc" th:text="${resourceDesc}" placeholder="请输入资源描述" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">发布</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="layui-col-md2 margin-right-2p float-right">
        <!-- 右边内容(签到，热门资源列表) -->
        <div th:replace="common/sign_in::html"></div>
        <div th:replace="common/resource_hot::html"></div>
    </div>


</div>


<div th:replace="common/footer::fixed"></div>

<!--<div th:replace="common/css3::html"></div>-->
<script src="/layui/layui.js"></script>
<script src="/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/js/footer.js"></script>
<script src="/js/global.js"></script>
<script>
    function replace(fileType,fileName) {
        var text;
        switch (fileType) {
            case "doc":text = "<img src='/images/file/doc.svg'>    " + fileName;break;
            case "docx":text = "<img src='/images/file/docx.svg'>    " + fileName;break;
            case "exe":text = "<img src='/images/file/exe.svg'>    " + fileName;break;
            case "jpg":text = "<img src='/images/file/jpg.svg'>    " + fileName;break;
            case "pdf":text = "<img src='/images/file/pdf.svg'>    " + fileName;break;
            case "png":text = "<img src='/images/file/png.svg'>    " + fileName;break;
            case "ppt":text = "<img src='/images/file/ppt.svg'>    " + fileName;break;
            case "rar":text = "<img src='/images/file/rar.svg'>    " + fileName;break;
            case "txt":text = "<img src='/images/file/txt.svg'>    " + fileName;break;
            case "zip":text = "<img src='/images/file/zip.svg'>    " + fileName;break;
            default:text = "<img src='/images/file/unknown.svg'>    " + fileName;break;
        }
        $("#file").html(text);
    }
</script>
<script th:inline="javascript">
    var fileType = [[${resourceType}]];
    var fileName = [[${fileName}]];
    if(fileType !== null && fileType !== undefined && fileType !== '' && fileName !== null && fileName !== undefined && fileName !== ''){
        replace(fileType,fileName);
    }
</script>
<script>
    layui.use('upload', function () {

        var upload = layui.upload;
        //执行一个upload实例
        upload.render({
            elem: '#file'
            ,url: '/upload/uploadFile'
            ,accept: 'file' //普通文件
            ,auto:false // 不自动上传
            ,size: 409600 //限制文件大小，单位 KB
            ,choose : function (obj) {
                var role = [[${session.user.role}]];
                obj.preview(function(index, file, result){
                    if(role === 1){
                        if(file.size > 100*1024*1024){
                            layer.msg("您是普通用户,上传文件大小不能超过100MB",{icon: 5});
                            return false;
                        }
                    }else if(role === 2){
                        if(file.size > 200*1024*1024){
                            layer.msg("您是VIP用户，上传文件大小不能超过200MB",{icon: 5});
                            return false;
                        }
                    }
                    obj.upload(index,file);
                    layer.load(); //上传loading
                    return true;
                });

            }
            ,done: function(res){
                layer.closeAll('loading'); //关闭loading
                if(res.status !== '000'){
                    // 出问题了
                    layer.msg(res.statusDesc,{icon: 5});
                }else{
                    // 上传成功了
                    $("#resourceUrl").val(res.data.url);
                    replace(res.data.fileType,res.data.fileName);
                    layer.msg("文件上传成功",{icon: 6});
                }
            }
        });
    });
</script>
</body>
</html>